<div class="container">
    <div class="row">    
        <div class="col-md-10 col-md-offset-1">
            <p>{{ dirname }}</p>
            {{#each projects}}
                <div class="card">
                    <div class="card-content">
                        <a href="/project/{{ this.name }}"><img src="uploads/{{ concat this.image }}" alt="{{ this.name }} project" width="650" height="350"></a>
                        <div class="project-info">
                            <p class="card-title"><a href="/project/{{ this.name }}">{{ this.name }}</a></p>
                            <span class="card-title date">{{ this.cardDate }}</span>                    
                        </div>
                    </div><!-- card content -->
                    <br>
                </div>
            {{/each}}
        </div>
    </div>
</div>
